<!-- HEADER SECTION -->
<header class="actress-head">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 text-center">
              <h3 class="main-heading ">2018 BOLLYWOOD
                  <span class="text-danger">ACTRESSES</span> TIMELINE</h3>
              <p class="myp-slider text-center">Hindi cinema, often metonymously referred to as Bollywood, is the Indian Hindi-language film industry,
                  based in the city of Mumbai (formerly Bombay), Maharashtra, India.</p>
              <p class="myp text-center">BOLLYWOOD ACTRESS   |   INDIAN ACTRESS   |   TELEVISION ACTRESS</p>
              <span class="badge badge-primary">BOLLYWOOD</span> &nbsp;
              <span class="badge badge-secondary">ACTRESS</span>&nbsp;
              <span class="badge badge-success">INDIAN</span>&nbsp;
              <span class="badge badge-danger">TELEVISION</span>&nbsp;
              <span class="badge badge-warning">MALAYALAM</span>&nbsp;
              <span class="badge badge-info">TAMIL</span>&nbsp;
              <span class="badge badge-light">TELUGU</span>&nbsp;
              <span class="badge badge-dark">HINDI</span>
          </div>
      </div>
      <!-- //row -->
      <div class="row">
          <div class="col-sm-12 d-flex justify-content-center">
              <div class="embed-responsive embed-responsive-16by9 embed-video">
                  <iframe src="https://www.youtube.com/embed/OX-h7MtkeOI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              </div>
          </div>
      </div>
      <!-- //row -->
  </div>
  <!-- //container -->
</header>